<!DOCTYPE html>
<html>

<head>
  <title>
    Stock Market
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bower_components/Materialize/bin/materialize.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/handlebars/handlebars.min.js"></script>
  <script src="/bower_components/Materialize/bin/materialize.js"></script>
  <script src="/javascripts/main.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <div class="progress #ffebee red lighten-5" id="progressBar">
    <div class="indeterminate #ef5350 red lighten-1"></div>
  </div>
  <nav>
    <div class="nav-wrapper">
      <a href="https://fcc-stock-soham1.c9users.io/" class="brand-logo center">Stocks</a>
    </div>
  </nav>
  <div id="mainBody">
    <ul id="wordList">
    </ul>
    <form id="addForm">
      <div class="row">
        <div class="input-field col s3">
          <input id="newWord" placeholder="Enter stock symbol" type="text">
          <label for="newWord">Symbol</label>
        </div>
        <div class="input-field col s1">
          <a class="waves-effect waves-light btn" type="submit">Graph It!</a>
        </div>
      </div>
    </form>
    <div id="chart_div"></div>

    <script id="word-template" type="text/x-handlebars-template">
      {{#each wordArray}}
      <li id={{this}}>
        <div class="chip">
          {{this}}
          <a class="remove" href="#"><i data-word="{{this}}" class="material-icons">clear</i></a>
      </li>
      {{/each}}
    </script>
    </div>
</body>

</html>
